.header{
    margin-left: 50px;
    margin-top: 10px;
    @media screen and(max-width: 800px) {
      margin-left: 250px;
    }
    @media screen and(max-width: 600px) {
       
        margin-left: 200px;
    }
    @media screen and(max-width: 400px) {
       
        margin-left: 100px;
    }
    h2{
        

    }

   
}
   
    





.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    

    
 


}

.image-side{

    
   
    &__pic{
        max-width: 100%;
        min-width: 100%;
        margin-top: 50px;
        @media screen and(max-width: 800px) {
           
            margin-left: 100px;
            
        }
        @media screen and(max-width: 600px) {
           
            margin-left: 110px;
            
        }
        @media screen and(max-width: 400px) {
           
            margin-left: 66px;
            
        }

       
    }

}

.description{
    margin-top: 50px;
    @media screen and(max-width: 800px) {
        grid-column: 1 / 2;
        margin-left: 200px;
        text-align: center;
    }
@media screen and(max-width: 600px) {
    grid-column: 1 / 2;
    margin-left: 190px;
    
    
}

@media screen and(max-width: 400px) {
           
    margin-left: 120px;
    
}
    
    &__title{
       
    
        
        
    }
    
    &__paragragh{
        margin-top: 10px;
       
    }

   &__btn {
       margin-top: 15px;
       color: white;
       background-color: black;
       border: none;
       padding: 15px 32px;
       text-align: center;
       display: inline-block;
       font-size: 16px;
    

}
}